.table-main-container{
    position: relative;
    width: 100vw;
}

.product-table-container{
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 50px;
    margin:10px;
}

.filter{
    cursor: pointer;
}

.inner-table-container{
    position: relative;
    overflow: hidden;
    color: #808080;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0px  0px 5px 5px ;
}

.products-table-search{
    border-radius: 3px;
    box-shadow: none;
    outline:none;
    text-decoration: none;
    font-size: 0.7rem;
    background-color: rgb(243, 235, 235);
}

.img-thumbnail{
    width: 30px;
    height:30px;
    object-fit : cover;
}

.variants-button{
    padding: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    background-color: skyblue;
}

.filter-button{
    outline:none;
    background-color: transparent;
    border: none;
}

/*............ItemList table css...........*/

.name-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-list-table{
    border-collapse: collapse;
    width: 100%;
}  

.product-list-table .items-table-header{
    background-color: rgb(198, 224, 224);
    color: rgb(236, 234, 234);
    text-align: left;
}

td button{
    border: none;
    margin-right: 10px;
    background-color: transparent;
}

.product-list-table tr:nth-child(even){background-color: #f2f2f2;}

.product-list-table .item:hover {background-color: #ddd;}

.product-list-table td, .product-list-table th {
    font-size: 0.5rem;
    padding: 4px;
}

.loading-products{
    color: black;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.list-name{
    font-size: 0.6rem!important;
    color: rgb(36, 100, 36);
}

.list-price{
    font-size: 0.6rem!important;
    text-align: left;
}

.image-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-flex img{
    padding: 10px;
    border-radius: 0;
}

.list-sale{
  
}

.tags{
    border-radius: 3px;
    width:fit-content;
    font-size: 0.4rem!important;
    text-transform: uppercase;
}

.title-input{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-around;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    color: gray;
    font-weight: bold;
}

.products-container{
    height: 80vh;
}

.table-title{
    margin: 3px;
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif;
}

.crud-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.crud-btns button{
    padding: 1px;
}